.page {
    display: none;
}

body {
    font-family: Baskerville, serif;
    margin: 0;
    padding: 10px;
    background-color: #fdf7e3;
    background-image: url()
}

.page {
    display: none;
    text-align: center;
    padding: 20px;

}

.page.active {
    display: block;
}

.title {
    font-size: 5rem;
    color: rgb(172, 67, 228);
    margin: 20px 0;
    padding: 20px
}

.subtitle {
    font-size: 2rem;
    color: black;
    margin: 10px 0 30px;
    padding: 30px;
    font-weight: bold;
}

hr {
    width: 60%;
    margin: 10px auto;
    border: 1px solid black;
}

.quiz-button {
    background-color: #add8e6;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 1.2rem;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s;
}

.quiz-button:hover {
    background-color: #87ceeb;
}

.quiz-title {
    font-size: 2rem;
    color: black;
    margin: 20px 0;
}

.question-list {
    text-align: left;
    margin: 0 auto;
    width: 50%;
    padding: 0;
    font-size: 1.5rem;
}

.question-list li {
    margin: 15px 0;
    padding: 15px;
}

.submit-button {
    background-color: #ad47c0;
    ;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #e692f5;
}

.results-box {
    background-color: white;
    color: black;
    padding: 30px;
    margin: 30px auto;
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: bold;
}
